#account-login, #account-register, #account-errors li {
  text-align: left;
}

#account-reset{ clear: both; margin-top: 20px;}
#account-login { cursor: pointer; }
#account-errors ul {margin-bottom: 3px; }